@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100vw;
    height: 100vh;
    background: url(./image/bg-image.jpg) no-repeat center/cover;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header {
    color: aliceblue;
    font-size: 3rem;
    font-weight: 100;
}

.header span {
    font-family: 'Barriecito', cursive;
    font-weight: 400;
}

.timer {
    color: aliceblue;
    font-size: 2rem;
    font-family: 'Montserrat', cursive;
    padding-left: 1rem;
    font-weight: 100;
}

.para {
    color: aliceblue;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input {
    padding: 0.7rem;
    width: 50vw;
    margin-top: 60vh;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 16px;
}

.input:focus {
    outline: none;
}

.button {
    position: absolute;
    margin-top: 70vh;
    transform: translate(-50%, -50%);
    left: 50%;
    padding: 0.9rem 0.3rem;
    border: 1px none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    background: rgb(101, 188, 223);
}

.button:hover {
    background: skyblue;
    color: black;
    outline: none;
}

.weather-card {
    width: 15.5rem;
    height: 18.75rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0.5rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif !important;
}

.weather-icons {
    height: 7rem;
}

.weather-temp {
    font-size: 1.7rem !important;
    font-weight: 300;
    color: skyblue;
}

.weather-description {
    font-size: 1.5rem !important;
    font-weight: 400;
    color: skyblue;
}

.weather-location {
    font-size: 2rem !important;
    font-weight: 500 !important;
    font-weight: 400;
    line-height: 1.7;
    color: skyblue;
}